<div class="portal">
    <div class="side-bar">
        <div class="logo">
            <img src="/static/logo.svg" alt="">
            <span>{{title}}</span>
        </div>
        <div class="menu-bar">
            <i-menubar :config="menuConfig" @activate="openTab"></i-menubar>
        </div>
    </div>
    <div class="view-right">
        <div class="header">
            <div class="tabbar-container">
                <v-tabbar />
            </div>
            <div class="tool-bar">
                <div class="tool-bar-item">
                    <!--<i-dropdown @command="changeCity" class="tool-bar-item">
                        <span class="el-dropdown-link">
                          {{currentCity}}<i class="el-icon-triangle-down" ></i>
                        </span>
                        <i-dropdown-menu>
                            <i-dropdown-item v-for="item in cityData" :command="item.name">{{item.name}}</i-dropdown-item>
                        </i-dropdown-menu>
                    </i-dropdown>-->
                </div>
                <div class="tool-bar-city">
                    <o-dropdown :label="currentCity">
                        <ul class="city-list">
                            <li 
                                class="city-list-item" 
                                v-for="item in cityData"
                                :key="item.value"
                                @click="currentCity = item.name">
                                {{item.name}}
                            </li>
                        </ul>
                    </o-dropdown>
                </div>
                <div class="tool-bar-item set">
                    <o-button label="">
                        <o-icon :size="14" iconClass="el-icon-set" />
                    </o-button>
                </div>
                <div class="tool-bar-item notice">
                    <o-button label="">
                        <o-icon :size="14" iconClass="el-icon-notice" />
                    </o-button>
                </div>
                <div class="tool-bar-item user-info"
                     @mouseenter="switchUserDropdown('open')"
                     @mouseleave="switchUserDropdown('close')">
                    <img src="/static/avatar.png" alt="">
                    <div class="icon-container">
                        <o-icon :size="9" iconClass="tofu-icon icon-arrow-down" />
                    </div>
                    <i-dropdown-user :config="userDropdownConfig"/>
                </div>
            </div>
        </div>
        <keep-alive :include="$tab.cache">
            <router-view class="view-main"></router-view>
        </keep-alive>
    </div>
</div>
