html,
body {
    height: 100%;
    min-width: 1000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-x: auto;
    font-family: Microsoft Yahei UI;
}

.portal {
    // font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    // user-select: none;
    width: 100%;
    height: 100%;

    background: #273142;

    .side-bar {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 200px;
        height: 100%;
        // .menu-icon {
        //     display: inline-block;
        //     width: 100%;
        //     height: 50px;
        //     color: transparent;
        //     background-image: url('./assets/icon/content.png');
        //     background-size: 16px 16px;
        //     background-repeat: no-repeat;
        //     background-position: left;
        // }
        &>.menu-bar {
            position: relative;
            top: 70px;
            width: 100%;
            height: calc(100% - 70px);
        }
    }
    .view-right {
        float: right;
        position: relative;
        width: calc(100% - 200px);
        height: 100%;
        overflow: hidden;
    }
    .view-main {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        min-width: 1120px;
        height: calc(100% - 40px);
        background: #fff;
    }
    .logo {
        box-sizing: border-box;
        width: 200px;
        height: 51px;
        line-height: 50px;
        padding-left: 66px;

        position: absolute;

        text-align: left;

        border-bottom: 1px solid #313D4F;

        user-select: none;
        cursor: pointer;

        & img {
            width: 28px;
            height: 28px;

            position: absolute;
            left: 24px;
            top: 12px;
        }
        & span {
            font-size: 16px;
            color: #fff;
        }
        & .btn-menu {
            position: absolute;
            width: 38px;
            height: 38px;
            background-image: url(./assets/menu.png);
            background-size: 100%;
            right: 5px;
            top: 14px;
        }
    }
    .header {
        box-sizing: border-box;
        height: 50px;
        position: relative;
        color: #000;
        background: #273142;

        .tabbar-container {
            box-sizing: border-box;
            width: calc(100% - 230px);
            height: 30px;

            position: absolute;
            bottom: 0;
            left: 0;
        }
        .tool-bar {
            box-sizing: border-box;
            width: 230px;
            height: 100%;
            padding-left: 12px;

            position: absolute;
            right: 0px;
            bottom: 0;
            z-index: 999;

            color: #fff;

            .tool-bar-city {
                display: inline-block;

                .tofu-button-component {
                    padding-right: 4px;
                }

                .city-list {
                    width: 100px;

                    color: #000;
                    font-size: 12px;
                }
                .city-list-item {
                    box-sizing: border-box;
                    width: 100%;
                    height: 22px;
                    line-height: 22px;
                    padding-left: 18px;

                    cursor: pointer;

                    &:hover {
                        color: #fff;
                        background: #20A0FF;
                    }
                }
            }

            .tool-bar-item {
                &.set, 
                &.notice {
                    width: 24px;
                    height: 24px;
                    margin-left: 12px;
                }
            }
        }
    }

    .tool-bar-item {
        line-height: 50px;
        display: inline-block;
        &.el-dropdown {
            height: 30px;
            font-size: 12px;
            color: #fff;
        }
        .el-dropdown-link .el-icon-triangle-down {
            font-size: 12px;
            vertical-align: baseline;
            margin-left: 2px;
            color: #fff;
        }
        &.set,
        &.notice {
            width: 18px;
            text-align: center;
        }
        &.set {
            margin-left: 15px
        }
        &.notice {
            margin-left: 10px
        }
        // .el-icon-set,
        // .el-icon-notice {
        //     font-size: 14px;
        //     vertical-align: middle;
        // }
        &.user-info {
            margin-left: 20px;
            img {
                width: 24px;
                height: 24px;
                border-radius: 100%;
                vertical-align: middle;
            }
            .icon-container {
                display: inline-block;
                width: 12px;
                height: 100%;
            }
        }
    }
}

// .menu-bar .menu-item .menu-item-main {
//     color: #fff;
// }

// .menu-bar .menu-item .menu-item-child .menu-item-main {
//     color: #A3ACBA;
//     background: transparent;
// }
// .menu-bar .menu-item .menu-item-child .menu-item-main:hover, 
// .menu-bar .menu-item .menu-item-child .menu-item-main.menu-item-active {
//     color: #fff;
//     background-color: rgba(255, 255, 255, .1);
// }

.sys-menu {
    position: absolute;
    left: 0;
    top: 70px;
    width: calc(100% - 1px);
    background: #fff;
    height: 100%;
}

.sys-menu-item {
    .sys-menu-child {
        .sys-menu-item-content {
            font-size: 12px;
        }
    }
    .sys-menu-item-content {
        width: 100%;
        height: 50px;
        line-height: 50px;
        cursor: pointer;
        color: #000;
        font-size: 14px;
        transition: all .3s ease-in-out;
        text-align: left;
        padding: 0 20px;
        box-sizing: border-box;
        position: relative;
        .sys-menu-icon {
            position: relative;
            top: 3px;
            left: 2px;
            display: inline-block;
            margin-right: 12px;
            width: 16px;
            height: 16px;
            background-image: url('./assets/icon/content.png');
            background-size: 100% 100%;
            &.child {
                visibility: hidden;
            }
        }
        &:hover {
            background-color: #fafafa;
            .sys-menu-item-arrow:before {
                border-top: 5px solid #fafafa;
            }
        }
        &.active:after,
        &.mouseover:after {
            content: '';
            width: 3px;
            height: 30px;
            background-color: rgb(39, 152, 251);
            position: absolute;
            top: 9px;
            right: 0;
            animation: fadeIn .3s ease-in-out both;
        }
        .sys-menu-item-arrow {
            border-top: 5px solid #000;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            position: absolute;
            right: 16px;
            top: 22px;
            transform: rotate(0deg);
            transition: all .3s ease-in-out;
            &:before {
                content: '';
                border-top: 5px solid #fff;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                position: absolute;
                top: -6px;
                left: -5px;
                transition: all .3s ease-in-out;
            }
            &.active {
                transform: rotate(180deg);
            }
        }
        @keyframes fadeIn {
            0% {
                opacity: 0;
                height: 0;
                top: 24px;
            }
            100% {
                opacity: 1;
                height: 30px;
                top: 9px;
            }
        }
    }
}