<div class="portal">
    <div class="side-bar">
        <div class="logo">
            <img src="/static/logo.svg" alt="">
            <span>{{title}}</span>
        </div>
        <div class="menu-bar">
            <i-menubar :config="menuConfig" @activate="openTab"></i-menubar>
        </div>
    </div>
    <div class="view-right">
        <div class="header">
            <div class="tabbar-container">
                <v-tabbar />
            </div>
            <div class="tool-bar">
                <div class="tool-bar-city">
                    <cascader
                            ref="cascader"
                            :options="options"
                            :props="props"
                            class="tool-bar-cascader"
                            :class="{ 'active' : cascaderActive}"
                            :is-basic="false"
                            placeholder="选择城市与公司"
                            clearable>
                    </cascader>
                </div>
                <div class="tool-bar-item notice">
                    <o-button label="">
                        <o-icon :size="14" iconClass="el-icon-notice" />
                    </o-button>
                </div>
                <div class="tool-bar-item user-info"
                     @mouseenter="switchUserDropdown('open')"
                     @mouseleave="switchUserDropdown('close')">
                    <img src="/static/avatar_egg.gif" alt="">
                    <div class="icon-container">
                        <o-icon :size="9" iconClass="tofu-icon icon-arrow-down" />
                    </div>
                    <i-dropdown-user :config="userDropdownConfig"/>
                </div>
            </div>
        </div>
        <keep-alive :include="$tab.cache">
            <router-view class="view-main"></router-view>
        </keep-alive>
    </div>
</div>
